accelerate
antropy
dill
hmmlearn
joblib
keras
matplotlib
mne
natsort
numpy
oculus
openai
openpyxl
pandas
playsound
plotapi
psutil
pyexcel
pyFirmata2
pygame
PyQt5
PyQt5-sip
PyQt5-stubs
pyserial
pysr
pytz
pytorch-wavelets
Requests
scikit-learn
scipy
seaborn
selenium
shap
snntorch
sounddevice
soundfile
SpeechRecognition
sympy
tensorflow
tensorly
tools
torch
torchsummary
torchvision
torchviz
transformers
webdriver-manager
xgboost
mne_features
mne
lightgbm
