accelerate
antropy
BaselineRemoval
bpy
dill
gensim
hmmlearn
ipython
joblib
keras
lightgbm
matplotlib
mne
natsort
numpy
oculus
openai
openpyxl
pandas
Pillow
playsound
plotapi
pyexcel
pyFirmata2
pygame
PyQt5
PyQt5_sip
pyserial
pysr
pytorch_wavelets
Requests
scikit_learn
scipy
seaborn
selenium
shap
snntorch
sounddevice
soundfile
SpeechRecognition
sympy
tensorflow
tensorly
tools
torch
torchsummary
torchvision
torchviz
transformers
viz
webdriver_manager
xgboost
